apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: default
  labels:
    app.kubernetes.io/name: homepage
data:
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: ""
  #settings.yaml: |
  #  providers:
  #    longhorn:
  #      url: https://longhorn.my.network
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: |
    - Developer:
        - Github:
            - abbr: GH
              href: https://github.com/
  services.yaml: |
    - Services:
        - Vaultwarden:
            href: https://passwort.mauzlab.de
            icon: vaultwarden.png
            description: Password Manager
        - Paperless-ngx:
            href: https://akten.mauzlab.de
            icon: paperless-ngx.png
            description: Document Management
        - Mealie:
            href: https://futter.mauzlab.de
            icon: mealie.png
            description: Recipe Manager
        - HortusFox:
            href: https://kratzbaum.mauzlab.de
            icon: hortusfox.png
            description: Plant Management
        - Jellyfin:
            href: https://kino.mauzlab.de
            icon: jellyfin.png
            description: Media Server
        - Immich:
            href: https://fotos.mauzlab.de
            icon: immich.png
            description: Photo Library
  widgets.yaml: |
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - resources:
        backend: resources
        expanded: true
        cpu: true
        memory: true
        network: default
    - search:
        provider: duckduckgo
        target: _blank
  docker.yaml: ""