apiVersion: v1
kind: PersistentVolume
metadata:
  name: mariadb-pv
spec:
  capacity:
    storage: 2Gi
  iscsi:
    # Naming the target specifically after the app
    iqn: iqn.2025-03.com.ugreen:hortusfox-mariadb
    lun: 0
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-pvc
spec:
  accessModes:
    - ReadWriteOnce   # iSCSI only supports one node writing at a time
  resources:
    requests:
      storage: 2Gi   # Must match the PV capacity
  volumeName: mariadb-pv
  storageClassName: ""    # Leave this as an empty string for static PVs