apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-data-pvc
  labels:
    app: hortusfox-db
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
