# Terraform files
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl

# IDE
.vscode/

# Ansible
inventory.ini

# Helm
Chart.lock
**/charts/*.tgz

# Kubernetes
*secret*.yaml
!*sealed-secrets.yaml
kubernetes/MAJOR_VERSION_UPGRADE_PLAN.md
