apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-cluster
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:18
  
  storage:
    size: 2Gi
    storageClass: local-path

  bootstrap:
    initdb:
      database: app
      owner: app

  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"

  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: nas-s3-store
