## This chart relies on the common library chart from bjw-s
## You can find it at https://github.com/bjw-s-labs/helm-charts/tree/common-4.3.0/charts/library/common
## Refer there for more detail about the supported values

controllers:
  main:
    containers:
      main:
        image:
          # Immich app version is pinned here because the Helm chart version can lag behind app releases.
          tag: v2.5.6

immich:
  metrics:
    # Enabling this will create the service monitors needed to monitor immich with the prometheus operator
    enabled: false
  persistence:
    library:
      existingClaim: immich-library
  # configuration is immich-config.json converted to yaml
  # ref: https://immich.app/docs/install/config-file/
  configuration: {}

# Dependencies

valkey:
  enabled: true

# Immich components

server:
  enabled: true
  controllers:
    main:
      containers:
        main:
          env:
            DB_HOSTNAME:
              valueFrom:
                secretKeyRef:
                  name: postgres-cluster-app
                  key: host
            DB_USERNAME:
              valueFrom:
                secretKeyRef:
                  name: postgres-cluster-app
                  key: username
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: postgres-cluster-app
                  key: password
            DB_DATABASE_NAME:
              valueFrom:
                secretKeyRef:
                  name: postgres-cluster-app
                  key: dbname
  ingress:
    main:
      enabled: true
      className: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
        # For large file uploads:
        traefik.ingress.kubernetes.io/buffering.maxRequestBodyBytes: "0"
      hosts:
        - host: fotos.mauzlab.de
          paths:
            - path: "/"
              service:
                identifier: main
      tls: []  # Uses Traefik's default

machine-learning:
  enabled: true
  persistence:
    cache:
      enabled: true
      existingClaim: immich-machine-learning