apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library
spec:
  storageClassName: nfs-nas
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-machine-learning
spec:
  storageClassName: nfs-nas
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
