apiVersion: v1
kind: Service
metadata:
  name: adguard-web
  labels:
    app: adguard
spec:
  type: ClusterIP
  selector:
    app: adguard
  ports:
    - name: web
      port: 80
      targetPort: 80
      protocol: TCP
