apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: paperless-redis-pvc
  labels:
    app: paperless-redis
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
