apiVersion: v1
kind: Service
metadata:
  name: paperless-redis
  labels:
    app: paperless-redis
spec:
  type: ClusterIP
  selector:
    app: paperless-redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
      name: redis
