apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mealie

resources:
  - postgres/sealed-secrets.yaml
  - sealed-secrets.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - volume.yaml
