apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mealie-data-pvc
  labels:
    app: mealie
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
