---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgASyrUOfuG2vqcalsF6uO4jKyhdnXcyFHxmwC12K2P9l+H+fJMLtnZZmYZOFGjzjtq09Viuv5Z+tQsaZswECNluYb7UGRXNey5xD+oDcGUHInPfjoNLkFKRQTekgtZs20KLeaQhIqAjmEsTHcoySX0poOnoxMZ9fQfTI33PEL1/e+Lj5kTX/v4zCagqwzkpD0Ne5xQKRSbb0te23k0llksz9YNfjR/aO2SiBFx7/dppfoZzEdefTYs47gaLRH8p6ebqn5Zyl6YYBBYoND/xTlTIHPIViTlFFy9pe7dsDp5PvQhRNE3QpcttpBriJqNlBYN5SHt8i263+yDGAJgx5KWGkEYEEi98IZ/Ne2R3S6uDdDwJM285rQu34d5Kff4Z9tbFH0qw2vaGT+iyxKp3ZRVQ/IWk1ArFZoZjoDnJiIBfYNhmLbKPRcdAaAk9TBFYAYBPnmMkM8Pk93XVO9GXphwuRc9MAMXvy2+qQyAi2lWxntp26yPDsOEdsp8TawgeYeZkZM71J/E66zTYNom2pqgF7RdNWnwX3aSHk1xhGOzNv8iDbkqhsk3ClpbkoKHwx6kJGVL1gKLm/v/mXTM+G2toB7Kdgcok4MEFfGTwij90vJskDP5+72pvvbrq5ernzgaTO4G3h5MIlatyKLKvmiZ9LlRZxu7exrNtQixLXEcmjZnlZn15//6vq32Nj8WY50s4Q1tywljk1Zvg9Jb09hkiZpI9l9exgxRGzpyDAJbBBDzUln7Mtpyz
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
