---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgBHe40D8ra6br3KVDrCxeDuXz/NAQJg5GoWfQmT/TKtfr0nDVQF0mwqs98jNtlLvtbP+YDYJdMK2FcQFUxkeZToNrB0M47sq73chnVs6Mg4mQWxRswnI5nC/vaccxT5+s7Y3rmIc/s2Oq+AN4rzE25p49PFj04ZBES0xSGf99BRj4TPHtow6myNMEAAMuAtEQnUXKB0c8c24m+xa9lWc1/TF419rbPKVM7huHXIgFVBYwB9DzjYl4VwQeLZFciOSIvtx56IX8rsO9/AiSYfLX5bEjoPqruHtH43kCRqq+GJ+6oLs/SVu97nY4aJ3VJ1jt7AoZEdg3wEqrN98PDZW2t2DRV4zhC0jB2KqikoO5EmS5E22r0qbH2TboKji35c14M7APrLiwCCur4uxr24VURvye/WGP2ziuQN2sXMGryEk0Y5Xboi2HNPN2IqUP8A0gqt+Kg/j6TGNfVzDYWLcOE1xs3KT+eMnTGvexUF/hpjRVw+1uLF2oNnQNyg4T6PVOl8cEsiQ62ORNYUBeKOKQRbNkUzra8YLYwCe/08lyLGUHwMOsG1eMHrEhUWU/ZIysipk4u/eckcilbVfJ3ZnSQNmVQVM9uNo3AyrAVJdamK8EOuN5Rpp2UKX96BPsMDAon0LBBXpH/EFL2g6e5Z12HDnK22OBeJAHmKm9qsdaRrdPLdBJPynNc3eN4t6mKwX/bzPtTo2Vbmv+TkdxTjqLG/GcuBIaG0/LdaqyHBtsxuBfc6bwA2wVLl
  template:
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
