---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgAF2y2VQxTJuNELO1YBJSVpgnnqW3jHlf3fVBUlm1WXHupGIZVf+bgsaoOHKiLlivDJc32qr4j6/Vc8X09cbpkt1oTlC/PAgFoFKC/7HcN6JQLD7YIASctzPz7enhlCDndIjH6rBFhIQW/OL9qeb/HfHFzc2hJ7Nat28vIpLEQN0v14gs6LNBtTxFoaAaTPbNlLk66yQaPBLCDt3ArcJ2MHlIe4Wu6QIBPvnREOittOVT2LeB4Xd1NZmC19I8oYL/ka0KlAB+N+lLBdjlPsTPoOANclkf0JdcMxKwOuquerVab4byh/hJPQZCuK0oGMnBdFw+nSTEfnFiiRqguZrsqBZgrfK6YwAKK0tNeZCZSH87s1lFWqG563CawYkcNnlAvulxYmHXlGtSkG2c26HXc29bOFVfD7sRupOT0UKM2R26pi076q4JBohWbQCO/EarOpfXfyE3tlC+nV1hzdMjORoaumTaBfHr5G83lJF7V/2jTQXPY19NDHIaJ3c3QlsLnXri1XlPA0vUKbV1DW9bq3zkILmJf9yjLfELC5IDudDpUAref0285xnI004vt6/+qN2ueYB7vGXFRadRjOohu5tnBpHZ+aZLtUFlV2h61UmqKQXeFOby8Vip/bW5Tmc9b4FGvioFKX9G3DOTGpYmU9ncnJHNn+Su9kT1B3+UIxDHUdTtwnQuDrzFW6Z0IfjDYzhdjORFXjwn7NyxVQI/9iF9Q3kDzER/ECPj84nJLeVhrrZx8g+8aR
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
