- name: Get token from master
  ansible.builtin.set_fact:
    k3s_token: "{{ hostvars[groups['control_plane'][0]].k3s_token }}"

- name: Get master control plane IP
  ansible.builtin.set_fact:
    master_control_plane_ip: "{{ hostvars[groups['control_plane'][0]].master_control_plane_ip }}"

- name: Download installer
  ansible.builtin.include_tasks: download.yaml

- name: Configure DNS for k3s
  ansible.builtin.include_tasks: dns_config.yaml

- name: Install k3s control plane node
  ansible.builtin.command:
    cmd: "{{ k3s_install_script_path }}"
    creates: "{{ k3s_binary_path }}"
  environment:
    K3S_URL: "https://{{ master_control_plane_ip }}:{{ k3s_api_port }}"
    K3S_TOKEN: "{{ k3s_token }}"
    INSTALL_K3S_EXEC: >-
      server{{ (k3s_disable_servicelb | bool) | ternary(' --disable servicelb', '') }}
      {{ (k3s_control_plane_taints | default([])) | map('regex_replace', '^(.*)$', '--node-taint \\1') | join(' ') }}
      --resolv-conf /etc/rancher/k3s/resolv.conf

- name: Wait for k3s API server to be ready
  ansible.builtin.wait_for:
    host: "{{ ansible_host }}"
    port: "{{ k3s_api_port }}"
    delay: 5
    timeout: "{{ k3s_api_wait_timeout }}"
