- name: Download installer
  ansible.builtin.include_tasks: download.yaml

- name: Configure DNS for k3s
  ansible.builtin.include_tasks: dns_config.yaml

- name: Install k3s master control plane
  ansible.builtin.command:
    cmd: "{{ k3s_install_script_path }}"
    creates: "{{ k3s_binary_path }}"
  environment:
    INSTALL_K3S_EXEC: >-
      {{ (k3s_disable_servicelb | bool) | ternary('--disable servicelb ', '') }}--cluster-init --resolv-conf /etc/rancher/k3s/resolv.conf

- name: Wait for token
  ansible.builtin.wait_for:
    path: "{{ k3s_server_token_path }}"

- name: Read node-token from master
  ansible.builtin.slurp:
    src: "{{ k3s_server_token_path }}"
  register: node_token_base64

- name: Decode and set token variable
  ansible.builtin.set_fact:
    k3s_token: "{{ node_token_base64.content | b64decode | trim }}"

- name: Remember master control plane IP
  ansible.builtin.set_fact:
    master_control_plane_ip: "{{ ansible_host }}"

- name: Wait for k3s API server to be ready
  ansible.builtin.wait_for:
    host: "{{ ansible_host }}"
    port: "{{ k3s_api_port }}"
    delay: 5
    timeout: "{{ k3s_api_wait_timeout }}"
