- name: Install K3s Prerequisites
  hosts: all
  become: true
  gather_facts: false
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Install required packages
      ansible.builtin.apt:
        name:
          - open-iscsi
          - nfs-common
        state: present
